<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>New_MVVM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>662982361CC877090083EBE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6629824F1CC8770A0083EBE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6629825A1CC8770A0083EBE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
